# Managed by cvmfs-service (role cvmfs_client).
CVMFS_REPOSITORIES={{ cvmfs_repository }}
CVMFS_HTTP_PROXY={{ cvmfs_http_proxy }}
CVMFS_QUOTA_LIMIT={{ cvmfs_quota_limit_mb }}
CVMFS_CACHE_BASE={{ cvmfs_cache_base }}
CVMFS_CLAIM_OWNERSHIP=yes
